{
    "device": {
        "id": "ABCDEF"
    },
    "wifi": {
        "ap": {
            "ssid": "mOS_ABCDEF",
            "pass": ""
        }
    },
    "mqtt": {
        "server": "GATEWAYIP:1883"
    }
}